<h1 class="ls-title-intro ls-ico-text">Cancelamento</h1>

<div class="order">
  <%= "Pedido: #{@order.code}" %>
</div>

<% if @order.errors.any? %>
  <div class="errors">
    <% @order.errors.full_messages.each do |message| %>
      <div class="ls-alert-danger"><%= message %></div>
    <% end %>
  </div>
<% end %>

<%= form_with url: {action: :finish_cancel}, model: @order, local: true do |f| %>
  <div class="ls-form ls-form-horizontal row">
    <div class="ls-label col-md-12 form-row">
      <%= f.label :cancellation_reason %>
      <%= f.text_field :cancellation_reason %>
    </div>
  </div>
    <div class="button">
      <%= f.submit 'Enviar', class: "ls-btn-primary"  %>
    </div>
<% end %>

<hr>